RewriteEngine On


RewriteRule ^latest-settings-info/(.+)/?$ /latest-settings-info.php [L]

RewriteRule ^latest-settings-info/(.+)/(.+)?$ /latest-settings-info-page.php [L]


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
