RewriteEngine On

RewriteRule ^career-with-us/(.+)/(.+)/?$ /career-with-us-page.php [L]

RewriteRule ^career-with-us/(.+)/?$ /career-with-us.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
